.input {
    all: unset;
    padding: 1rem;
    border: 2px solid rgba(0, 128, 0, 1);
    color: rgba(46, 111, 64, 1);
    border-radius: 0.5rem;
    margin-right: 1rem;
    box-sizing: border-box;
    font-size: 1rem;
    font-weight: 600;
}

.input:focus {
    border: 2px solid rgba(46, 111, 64, 1);
}

.btn {
    all: unset;
    background-color: rgba(0, 128, 0, 1);
    padding: 1rem;
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    border: 2px solid rgba(0, 128, 0, 1);
    border-radius: 0.5rem;
}

.btn:hover {
    all: unset;
    background-color: rgba(46, 111, 64, 1);
    padding: 1rem;
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    border: 2px solid rgba(46, 111, 64, 1);
    border-radius: 0.5rem;
}
