.show {
    margin: 0 0 1rem 0;
    padding: 1rem;
    border: 1px dashed rgba(255, 0, 255, 1);
    border-radius: 0.5rem;
    color: rgba(255, 0, 255, 1);
    transition: all 0.2s ease-in-out;
    background-color: rgba(255, 0, 255, 0.05);
}

.hide {
    composes: show;
    border: 1px dashed rgba(255, 0, 255, 0.5);
    color: rgba(255, 0, 255, 0.75);
    background-color: rgba(255, 0, 255, 0);
}
